body{
    background: white;
    
}
.breadcrum{
    padding: 10px 20px;
    font-size: 12px;
    color: #565656;
}

.product-display{
    display: flex;
    padding: 10px 20px;
    /* min-height: 100%; */
    width: 100%;
    margin-right: 10px;

}
.product-d-image{
    display: flex;
    gap: 10px;
}

.product-icons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product-icons img{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 9px;
}
.product-main-img img{
    width: 400px;
}

.product-d-details{
    margin: 0 20px;
    width: 100%;

}
.product-d-title{
    color: black;
    font-size: 25px;
}
.brand-d-store{
    margin-top: 5px;
    color: #007185;
    font-size: 14px;
}
.product-d-rating{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: black;
    justify-content: center;
}
.product-d-rating div{
    display: flex;
    gap: 10px;
}
.product-d-rating p{
    color: #007185;
}
.product-d-rating p span{
    color: white;
    background: #c73500;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 14px;
}
.product-d-rating h5{
    font-weight: 400px;
}

.product-d-price{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.product-d-price div{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.product-d-price div p{
    /* color: white; */
    font-size: 26px;
    color: #c73500;
    /* border-radius: 5px; */
}
.product-d-rating div h1{
    font-size: 14px;
    font-weight: 500px;
}
.product-d-rating div span{
    font-size: 26px;
    font-weight: 500px;
}
.product-d-rating h5{
    color: #565656;
    font-weight: 400px;
}

.product-d-price div h5{
    color: #565656;
    font-weight: 400;
}
.product-d-price h5 span{
    text-decoration: line-through;
}
.product-d-price span{
    color: #565656;
}

/*  */
.product-color-selection{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px 0;
}

.product-color-options{
    display: flex;
    padding: 0 30px;
    margin-top: 10px;
    justify-content: space-between;
}
.product-color-options div {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-right: 10px;
}
.option{
    display: flex;
    border: 1px solid #cbcbcb;
    gap: 10px;
}

.product-info{
    display: grid;
    grid-template-columns: auto auto;
    max-width: 300px;
    margin-bottom:15px ;
}

.product-discription h1{
    font-size: 20px;
    margin: 15px 0;
}
.product-discription ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 30px;
}
.product-d-purchase{
    width: 100%;
    max-width: 280px;
    border: 1px solid #c1c1c1;
    border-radius: 20px;
    padding: 20px;
}
.product-d-purchase .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.product-d-purchase .price{
    font-size:16px;
    font-weight:400px;
    margin: 10px 0;
}
.product-d-purchase .price span{
    font-size:  26px;
    padding: 2px;
}
.product-d-purchase .gap{
    margin: 15px 0;

}
.product-d-purchase p span{
    color: #007185;
}
/* 
 */
 .delivery-location{
    display: flex;
    align-items: center;
    grid-area: 3px;
}
.product-stock{
    margin: 15px 0;
    color: green;
    font-weight: 400;
}
.product-quntity{
    padding: 8px 5px;
    outline: none;
    width: 100%;
    border-radius:5px ;
    background:#efefef;
    border-color: #c1c2c1;
}
.product-d-purchase .btn{
    outline: none;
    border: none;
    background: #ffd814;
    width: 100%;
    padding :10px 0;
    margin-top: 10px;
    border-radius: 50px;
    cursor: pointer;
}
.product-d-purchase .product-buy-now{
    background:#ffa41c;
}
.product-seller-info{
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 4px;
    font-size: 14px;
    color: #565656;
}
.product-seller-info span{
    color: #007185;
}

.product-d-purchase hr{
    margin: 20px 0;
}
.product-add-list{
    width: 100%;
    padding: 8px 15px;
    border:  1px solid #000;
    background: white;
    cursor: pointer;
}